/* PHASE 9: Forms */
.thumb {
  float: left;
}

.input {
  background-color: lightgrey;
  border-radius: 5px;
  font-weight: bold;
  float: right;
  size: 200px;
}

.submit {
  background-color: #0c0;
  color: #fff;
  
}